body {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
}

form {
    margin: 30px 28%;
    padding: 30px;
    background: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, textarea {
    margin: 7px auto;
    padding: 12px;
    width: 40%;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-family: "Motiva Sans", sans-serif;
}

form button {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background: rgb(90, 125, 15);
    transition: 0.3s;
}

form input[type="date"]:before {
    content: attr(placeholder) !important;
    color: rgb(141, 141, 141);
    margin-right: 0.5em;
}

form input[type="date"]:focus:before,
form input[type="date"]:valid:before {
content: "";
}

.thumbnail_upload, .compatibility {
    width: 40%;
}

.thumbnail_upload {
    padding-left: 9px;
}

.thumbnail_upload input {
    width: 70%;
}

.compatibility input {
    width: 5%;
}