div {
    margin: 30px 28%;
    padding: 30px;
    background: rgb(25, 25, 25);
}

div h1 {
    font-size: 48px;
}

div h2 {
    font-size: 38px;
    font-weight: lighter;
}

div h3 {
    font-size: 18px;
    font-weight: lighter;
}

div img {
    width: 600px;
    height: 300px;
}

@media only screen and (max-width: 1400px) {
    div {
        margin: 30px 18%;
    }
}