$body-white: rgba(255, 255, 255, 0.75);

a {
    text-decoration: none;
    color: $body-white;
}

.list_item {
    cursor: pointer;
    height: 27vh;
    border: solid $body-white 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}