$navbar-black: #171a21;
$navbar-blue: #55a5f0;
$white: white;
$white-inactive: rgba(255, 255, 255, 0.753);

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background: $navbar-black;
    color: $white-inactive;
    align-items: center;
    justify-content: space-between;

    .nav_container {
        height: 10vh;
        display: flex;
        column-gap: 40%;
        align-items: center;

        .nav_brand {
            cursor: pointer;
            height: 44px;
            width: 124px;
            image-rendering: -webkit-optimize-contrast;
        }

        .navbar_nav {
            display: flex;
            column-gap: 30%;

            a {
                .nav_item {
                    color: $white-inactive;
                    cursor: pointer;
                    &:hover {
                        color: $white;
                        transition: 300ms;
                    }
                }
            }
        }
    }

    .account {
        width: 30%;
        display: flex;
        column-gap: 5%;

        button {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.75);
            background-color: rgb(23, 26, 33);
            border-radius: 5px;
            border: solid 2px;
            padding: 8px;
            width: 110px;
            text-align: center;
            font-weight: bold;
                
            &:hover {
                color: rgb(255, 255, 255);
                transition: 300ms;
            }

            &.signup {
                cursor: pointer;
                color: rgb(255, 255, 255);
                background-color: rgb(92, 126, 16);
                border-radius: 5px;
                border: 0px;
                padding: 10px;
                width: 110px;
                text-align: center;
                font-weight: bold;

                &:hover {
                    color: rgb(255, 255, 255);
                    transition: 300ms;
                    background-color: rgb(117, 161, 22);
                }
            }
        }
    }

}