$navbar-black: #171a21;
$navbar-blue: #55a5f0;
$white: white;
$white-inactive: rgba(255, 255, 255, 0.753);

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background: $navbar-black;
    color: $white-inactive;
    align-items: center;
    justify-content: space-between;

    .nav_container {
        height: 7vh;
        display: flex;
        column-gap: 40%;
        align-items: center;

        .nav_brand {
            cursor: pointer;
            color: $white;
            font-size: 40px;
        }

        .navbar_nav {
            display: flex;
            column-gap: 30%;

            a {
                .nav_item {
                    color: $white-inactive;
                    cursor: pointer;
                    &:hover {
                        color: $white;
                        transition: 300ms;
                    }
                }
            }
        }
    }

    .account {
        width: 30%;
        display: flex;
        column-gap: 5%;

        button {
            cursor: pointer;
            background-color: $navbar-black;
            border: solid 1px;
            border-radius: 10px;
            border-color: $white-inactive;
            box-shadow: 0 0 1px $white-inactive;
            color: $white-inactive;
            padding: 8px 25px;
            width: 115px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        
            &:hover {
                // border-color: $navbar-blue;
                box-shadow: 0 0 5px $navbar-blue;
                background-color: $navbar-blue;
                color: $white;
                transition: 300ms;
            }
        }
    }

}