body {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
}

form {
    display: flex;
    justify-content: center;
    padding: 30px 20%;
}

form div, img {
    margin: 0px 10px;
    background: rgb(25, 25, 25);
}

form div {
    padding: 30px;
}

form img {
    padding: 30px 600px 30px 30px;
    width: 300px;
    height: 150px;
}

form ul {
    width: 900px;
    height: 600px;
}

form li {
    display: list-item;
    margin-bottom: 10px;
    list-style: none;
}

form input, button {
    display: block;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

form input {
    margin: 10px auto;
    padding: 12px;
    width: 80%;
}

form button {
    cursor: pointer;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background: rgb(90, 125, 15);
    transition: 0.3s;
}

form button:hover {
    background-color: rgb(120, 160, 20);
}

@media only screen and (max-width: 1400px) {
    form img {
        padding: 20px 400px 20px 20px;
        width: 300px;
        height: 150px;
    }
}