body {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.title {
    width: 1130px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
}

.container img {
    width: 700px;
    height: 400px;
}

.container .info {
    width: 400px;
    height: 400px;
}

