a {
    font-size: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(23, 26, 33);
}

.logo {
    cursor: pointer;
    height: 44px;
    width: 124px;
    image-rendering: -webkit-optimize-contrast;
}

.menu {
    display: flex;
    padding-left: 100px;
    padding-right: 300px;
    column-gap: 30px;
}

.tab {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
}

.tab:hover {
    color: rgb(255, 255, 255);
    transition: 300ms;
}

.account {
    display: flex;
    column-gap: 10px;
}

.login button {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgb(23, 26, 33);
    border-radius: 5px;
    border: solid 2px;
    padding: 8px;
    width: 110px;
    text-align: center;
    font-weight: bold;
}

.login button:hover {
    color: rgb(255, 255, 255);
    transition: 300ms;
}

.signup button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 126, 16);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 110px;
    text-align: center;
    font-weight: bold;
}

.signup button:hover {
    color: rgb(255, 255, 255);
    transition: 300ms;
    background-color: rgb(117, 161, 22);
}